{% load static %}
<div class="menu-container">
    <nav id="mySideNav" class="menu sidenav">
        <div class="toggleNav">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <ul class="menu sidenav">
            <li class="nav-item"><a href="#about">About</a></li>
            <li class="nav-item"><a href="/#portfolio">Portfolio</a></li>
            <li {% if 'contact'==request.path %} class="active nav-item" {% else %} class="nav-item" {% endif %}><a
                    href="{% url 'contact' %}">Contact</a></li>

            <li {% if 'blog'==request.path %} class="active nav-item" {% else %} class="nav-item" {% endif %}><a href="{% url 'blog' %}">Blog</a></li>
        </ul>
    </nav>
</div>